/*--------------------Estructura a seguir----------------*/
/* 1. Posicionamiento */
/* 2. Modelo de caja (Box model) */
/* 3. Tipografía */
/* 4. Visuales (diseño) */
/* 5. Otros */
/*--------------------Estilos generales----------------*/
:root {
  /* Colores */
  --emerald: #4ad37d;
  --spanish-green: #18904f;
  --alice-blue: #eff7fa;
  --nickel: #6b766c;
  --azure-blue: #d9eff8;
  --pine-tree: #242e24;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* font-family: 'Raleway', sans-serif;
font-family: 'Source Serif Pro', serif; */
html {
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
/*--------------------header----------------*/
header {
  /* 1. Posicionamiento */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* 2. Modelo de caja (Box model) */
  width: 100%;
  min-width: 320px;
  height: 100vh;
  max-height: 731px;
  /* 3. Tipografía */
  text-align: center;
  /* 4. Visuales (diseño) */
  background-image: url('../static/headerBackground.jpg');
  background-repeat: no-repeat;
  background-position: 60% 50%;
  background-size: cover;
  /* 5. Otros */
}

.header-container__brand {
  /* 1. Posicionamiento */
  position: absolute;
  top: 34px;
  left: 36px;
  /* 2. Modelo de caja (Box model) */
  /* 3. Tipografía */
  font-size: 1.5rem;
  text-align: left;
  font-weight: 600;
  /* 4. Visuales (diseño) */
  color: var(--alice-blue);

  /* 5. Otros */
}
.header-container__title {
  /* 1. Posicionamiento */
  width: 85%;
  align-self: center;
  justify-self: center;
  /* 2. Modelo de caja (Box model) */
  padding: 10px;
  /* 3. Tipografía */
  font-size: 3.6rem;
  text-align: center;
  /* 4. Visuales (diseño) */
  color: var(--spanish-green);
  /* 5. Otros */
}

.button-container {
  /* 1. Posicionamiento */
  position: absolute;
  bottom: 0;
  display: grid;
  align-items: center;
  gap: 10px;
  margin-left: 15px;
  /* 2. Modelo de caja (Box model) */
  width: 50%;
  max-width: 208px;
  height: 100px;
  margin-bottom: 20px;
  /* 3. Tipografía */
  text-align: left;
  font-size: 1.3rem;
  /* 4. Visuales (diseño) */
  /* 5. Otros */
}
.button-container__button {
  height: 38px;
  background: var(--spanish-green);
  text-align: center;
  padding: 12px 25px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.button-container a {
  text-decoration: none;
  color: var(--alice-blue);
}
.header-container__text {
  align-self: center;
  text-align: left;
  padding: 25px 28px 15px 20px;
  font-family: 'Source Serif Pro', serif;
  font-weight: 500;
  color: var(--alice-blue);
  font-size: 1.2rem;
}

/*--------------------Seccion beneficios----------------*/
.beneficios-container {
  /* 1. Posicionamiento */

  /* 2. Modelo de caja (Box model) */
  width: 100%;
  min-width: 320px;
  height: auto;
  /* 3. Tipografía */

  /* 4. Visuales (diseño) */
  background-color: var(--alice-blue);
  /* 5. Otros */
}

.beneficios-container .beneficios-container__title {
  width: 100%;
  margin: 0 auto;
  padding-top: 36px;
  font-size: 3.4rem;
  line-height: 45px;
  text-align: center;
  color: var(--pine-tree);
}
.beneficios-container hr {
  width: 20%;
  margin: 0 auto;
  margin-bottom: 50px;
  height: 2px;
  border-width: 0;
  color: var(--pine-tree);
  background-color: var(--pine-tree);
}

.beneficios-container .information-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 60px;
  text-align: center;
}

.information-container .information-container__article {
  display: grid;
  gap: 5px;
  width: 80%;
  max-width: 392px;
  margin: 0 auto;
}
.information-container .information-container__article h3 {
  font-size: 2rem;
  line-height: 30px;
  color: var(--pine-tree);
}
.information-container .information-container__article p {
  font-family: 'Source Serif Pro', serif;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 25px;
}
.dolar,
.down,
.direction {
  display: inline-block;
  width: 53px;
  max-width: 73px;
  min-width: 53px;
  height: 53px;
  max-height: 73px;
  min-height: 53px;
  align-self: center;
  justify-self: center;
  margin-bottom: 10px;
}

.dolar {
  background-image: url('../static/dolar.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.down {
  background-image: url('../static/down.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.direction {
  background-image: url('../static/direction.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/*--------------------Responsive----------------*/
@media screen and (min-width: 427px) {
  html {
    font-size: 12px;
  }
  header {
    max-height: 640px;
  }
  .button-container {
    position: relative;
    padding-top: 50px;
    /* grid-auto-flow: column; */
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
}
/*-----------------conócenos----------------*/

/*----------------media querys----------------*/
@media screen and (min-width: 768px) {
  .header-container__text {
    margin-top: 10px;
    padding-top: 38px;
  }
}

@media screen and (min-width: 1025px) {
  .beneficios-container .information-container {
    width: 90%;
    max-width: 1445px;
    margin: 0 auto;
    grid-template: 1fr / repeat(3, 1fr);
  }
}
