/*--------------------Estructura a seguir----------------*/
/* 1. Posicionamiento */
/* 2. Modelo de caja (Box model) */
/* 3. Tipografía */
/* 4. Visuales (diseño) */
/* 5. Otros */
/*--------------------Estilos generales----------------*/
:root {
  /* Colores */
  --emerald: #4ad37d;
  --dartmouth-green: #017b3a;
  --alice-blue: #eff7fa;
  --nickel: #6b766c;
  --cadet-blue: #38a3a5;
  --pine-tree: #242e24;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* font-family: 'Raleway', sans-serif;
font-family: 'Source Serif Pro', serif; */
html {
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
/*--------------------header----------------*/
header {
  /* 1. Posicionamiento */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* 2. Modelo de caja (Box model) */
  width: 100%;
  min-width: 320px;
  height: 100vh;
  max-height: 514px;
  /* 3. Tipografía */
  text-align: center;
  /* 4. Visuales (diseño) */
  background-image: url('../static/headerBackground.jpg');
  background-repeat: no-repeat;
  background-position: 60% 50%;
  background-size: 250%;
  /* 5. Otros */
}

.header-container__brand {
  /* 1. Posicionamiento */
  position: absolute;
  top: 34px;
  left: 36px;
  /* 2. Modelo de caja (Box model) */
  /* 3. Tipografía */
  font-size: 1.5rem;
  text-align: left;
  font-weight: 600;
  /* 4. Visuales (diseño) */
  color: var(--alice-blue);

  /* 5. Otros */
}
.header-container__title {
  /* 1. Posicionamiento */
  width: 85%;
  align-self: center;
  justify-self: center;
  /* 2. Modelo de caja (Box model) */
  padding: 10px;
  /* 3. Tipografía */
  font-size: 3.6rem;
  text-align: center;
  /* 4. Visuales (diseño) */
  color: var(--dartmouth-green);
  /* 5. Otros */
}

.button-container {
  /* 1. Posicionamiento */
  position: absolute;
  bottom: 0;
  display: grid;
  align-items: center;
  gap: 10px;
  margin-left: 15px;
  /* 2. Modelo de caja (Box model) */
  width: 50%;
  max-width: 208px;
  height: 80px;
  margin-bottom: 20px;
  /* 3. Tipografía */
  text-align: left;
  font-size: 1.3rem;
  /* 4. Visuales (diseño) */
  /* 5. Otros */
}
.button-container__button {
  height: 38px;
  background: var(--dartmouth-green);
  text-align: center;
  padding: 12px 25px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.button-container a {
  text-decoration: none;
  color: var(--alice-blue);
}
.header-container__text {
  color: var(--alice-blue);
  align-self: center;
  text-align: left;
  padding: 25px 28px 15px 20px;
  font-family: 'Source Serif Pro', serif;
  font-weight: 500;
  font-size: 1.2rem;
}
